<form class="" action="http://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DR8573HW7W9FC" method="post"> -->
  <section class='rooms-listing-main-booking-container'>
  <!-- ////////////
  price per night
  //////////// -->
    <section class='price-per-night'>
      <h4 class='nightly_price'>${{price.nightly_price}}</h4>
      <h4>Per Night</h4>
    </section>
  <!-- /////////
  DATE INPUTS
  //////////// -->
    <section class='input-group input-group-lg date-input-container'>
      <div class="input-group date-input-wrapper">
        <h4 class='check-in-out'>Check In</h4>
        <input class='form-controler input-date' type="date" ng-model='startDate.value'>
      </div>
      <div class="input-group date-input-wrapper">
        <h4 class='check-in-out'>Check Out</h4>
        <input class='form-controler input-date' type="date" ng-model='endDate.value'>
      </div>
    </section>
  <!--////////
  CALCULATIONS
  /////////////  -->
    <section class='calculations-container'>
  <!-- days -->
      <div ng-if='startDate.value && endDate.value' class="days-total-wrapper">
        <div class="calculations-text">
          Day(s)
        </div>
        <div class="days-total-count">
          {{endDate.value - startDate.value | date : 'd'}}
        </div>
      </div>
  <!-- Total -->
      <div ng-if='startDate.value && endDate.value' class="days-total-wrapper">
        <div class="calculations-text">
          Total
        </div>
        <div class="days-total-count">
          ${{(endDate.value - startDate.value | date: 'd') * price.nightly_price}}
        </div>
      </div>
  <!-- End  -->
    </section>
  <button class="btn book-now-btn" ng-click='reserveDate(startDate.value,endDate.value)'>Book Now</button>

  </section>
</form>
