Bookings You have now {{itemsInCart}}
  <section class='rooms-listing-main-booking-container' ng-style='{
    "margin-right":"25px",
    "border-radius":"28px"
  }'>
  <!-- ////////////
  price per night
  //////////// -->
    <section class='price-per-night'>
      <h4 class='nightly_price'>${{price.nightly_price}}</h4>
      <h4>Per Night</h4>
    </section>
  <!-- /////////
  DATE INPUTS
  //////////// -->
    <section class='input-group input-group-lg date-input-container'>
      <div class="input-group date-input-wrapper">
        <h4 class='check-in-out'>Check In</h4>
        <input class='form-controller input-date' min='{{today}}' type="date" ng-model='startDate.value'>
        <!-- <input type="text" class='form-control' uib-datepicker-popup is-open='valuationsDatePIckerIsOpen' ng-click='valuationDatePickerOpen()' ng-model='valuationDate'> -->
      </div>
      <div class="input-group date-input-wrapper">
        <h4 class='check-in-out'>Check Out</h4>
        <input class='form-controller input-date' min='{{changedDate}}' type="date" ng-model='endDate.value'>
        <!-- {{startDate.value  | date : 'yyyy-MM-dd'}} -->
      </div>
    </section>
  <!--////////
  CALCULATIONS
  /////////////  -->
    <section class='calculations-container'>
  <!-- days -->
      <div ng-if='startDate.value && endDate.value' class="days-total-wrapper">
        <div class="calculations-text">
          Day(s)
        </div>
        <div class="days-total-count">
          {{endDate.value - startDate.value | date : 'd'}}
        </div>
      </div>
  <!-- Total -->
      <div ng-if='startDate.value && endDate.value' class="days-total-wrapper">
        <div class="calculations-text">
          Total
        </div>
        <div class="days-total-count">
          ${{(endDate.value - startDate.value | date: 'd') * price.nightly_price}}
        </div>
      </div>
  <!-- End  -->
    </section>
<!-- ============================================================================================================================= -->
<!-- form where our values will go -->
<!-- ============================================================================================================================= -->
  <!-- <span ng-if='!!startDate.value && !!endDate.value'> -->
  <!-- <form class='form-group' ng-submit='goToPaypal(price,user)' method="post" target="_top"> -->
  <form ng-submit='!!submit' action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="item_name" value="{{price.listing_name}}">
  <input type="hidden" name="item_number" value="{{price.room_id}}">
  <input type="hidden" name="business" value="{{user.email}}" required>
  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="first_name" value="{{user.first_name}}" required>
  <input type="hidden" name="last_name" value="{{user.last_name}}" required>
  <input type="hidden" name="amount" value="{{(endDate.value - startDate.value | date: 'd') * price.nightly_price}}" required>
  <!-- </form> -->
  <button ng-disabled='!startDate.value && !endate.value' class="btn book-now-btn" ng-click='reserveDate(startDate.value,endDate.value)'>Book Now</button>

  </section>
