<section class="search-filter-container" ng-style='{
  "width":"670px",
  "height":"400px"
}'>

<!--Search Input Date and Price Input Container  -->
  <div class="search-input-date-price-container row">
    <!-- the input dates will need logic for null and for the date from today -->
    <input type="date" ng-style='{
      "width":"140px",
      "height":"40px",
      "margin-left":"16px"
    }'ng-model='search_filter.startDate' class='col-sm-6 col-md-3 col-lg-3'>
    <input type="date" ng-style='{
      "width":"140px",
      "height":"40px",
      "margin-left":"16px"
    }'ng-model='search_filter.endDate' class='col-sm-6 col-md-3 col-lg-3'>
    <input type="text" ng-style='{
      "width":"140px",
      "height":"40px",
      "margin-left":"16px"
    }'placeholder="Min Price" ng-model='search_filter.minPrice' class='col-sm-6 col-md-3 col-lg-3'>
    <input type="text" ng-style='{
      "width":"140px",
      "height":"40px",
      "margin-left":"16px"
    }'placeholder="Max Price" ng-model='search_filter.maxPrice' class='col-sm-6 col-md-3 col-lg-3'>
  </div>
<!-- search room_type checkbox container -->
  <div class="search-room_type-checkbox-container">
    <input ng-style='{
      "margin-top":"24px",
      "margin-bottom":"24px",
      "margin-left":"84px"
    }'
    type="checkbox" ng-model="search_filter.room_type.entire"> Entire Room</input>
    <input ng-style='{
      "margin-top":"24px",
      "margin-bottom":"24px",
      "margin-left":"84px"
    }'
    type="checkbox" ng-model="search_filter.room_type.private"> Private Room</input>
    <input ng-style='{
      "margin-top":"24px",
      "margin-bottom":"24px",
      "margin-left":"84px"
    }'
    type="checkbox" ng-model="search_filter.room_type.shared"> Shared Room</input>
  </div>
<!-- search room_descriptions accommodations/rooms/bathrooms container-->
  <div class="search-room-listing-desc-container row">
    Accommodate
    <select ng-model='selectAcc' ng-options='acc as acc.label for acc in accommodate'></select>
    Bedrooms
    <select ng-model='selectBed' ng-options='bed as bed.label for bed in bedrooms'></select>
    Bathrooms
    <select ng-model='selectBath' ng-options='bath as bath.label for bath in bathrooms'></select>
    <!-- handle the values of these models in the functions located inside of search-filter-button -->
  </div>
  <div class="line"></div>

<!-- search room_accessories container -->
  <div class="search-room_accessories_container">
    <div class="search_room_accessories-checkbox-wrapper">
      <input type="checkbox" ng-model='search_filter.tv'>TV</input>
      <input type="checkbox" ng-model='search_filter.kitchen'>Kitchen</input>
      <input type="checkbox" ng-model='search_filter.internet'>Internet</input>
    </div>
    <div class="search_room_accessories-checkbox-wrapper">
      <input type="checkbox" ng-model='search_filter.heating'>Heating</input>
      <input type="checkbox" ng-model='search_filter.ac'>Air Conditioning</input>
    </div>
  </div>
<!-- search-filter button => function that takes all of the models from above maybe does not need it's own div-->
  <button class='btn search-filter-btn' ng-click='searchFilter(search_filter,selectAcc,selectBed,selectBath)'>Search</button>
</section>
