<home-header></home-header>
<div class="container">
  <div class="jumbotron" ng-style='{
    "background":"#efefef",
    "padding":"0px",
    "margin-bottom":"70px"
  }'>
    <section class='home-text-container'>
      <h2>Just for the weekend</h2>
      <h4>discover inspiring places close to home</h4>
    </section>

    <section class='home-img-container'>
      <div id='amsterdam' class="box col-sm-12 col-md-4 col-lg-4">
        <span class='home-img-text'>Amsterdam</span>
      </div>
      <div id='new_york' class="box col-sm-12 col-md-4 col-lg-4">
        <span class='home-img-text'>New York</span>
      </div>
      <div id='london' class="box col-sm-12 col-md-4 col-lg-4">
        <span class='home-img-text'>London</span>
      </div>
    </section>
    <section class="home-text-container">
      <h2>Explore the world</h2>
      <h4>see what people are traveling all around the world</h4>
    </section>
      <home-room-listings></home-room-listings>


  </div>

</div>
<footer id='footer' class="container" ng-style'{"margin-top":"46px","height":"40px","background":"black"}'>

</footer>
