<home-header></home-header>
<!-- <h1>{{newmessage}}</h1> -->
<!-- <h3>{{serviceMessage}}</h3> -->
<div class="container">
  <div class="jumbotron">
    <section class='home-text-container'>
      <h2>Just for the weekend</h2>
      <h4>discover inspiring places close to home</h4>
    </section>

    <section class='home-img-container'>
      <div id='amsterdam' class="box">
        <span class='home-img-text'>Amsterdam</span>
      </div>
      <div id='new_york' class="box">
        <span class='home-img-text'>New York</span>
      </div>
      <div id='london' class="box">
        <span class='home-img-text'>London</span>
      </div>
    </section>
    <section class="home-text-container">
      <h2>Explore the world</h2>
      <h4>see what people are traveling all around the world</h4>
    </section>
      <home-room-listings></home-room-listings>


  </div>
</div>
