<section class='container' ng-style='{"width":"80%","position":"relative","top":"-41px"}'>
  <section ng-style='{"padding":"8px","background":"#efefef"}' class='jumbotron'>
      <room-listing-main-pic></room-listing-main-pic>
      <!-- content wrapper  -->
      <div class="room-listing-content-wrapper">
        <room-listing-profile-pic></room-listing-profile-pic>
        <room-listing-main-desc></room-listing-main-desc>
        <room-listing-main-booking></room-listing-main-booking>
      </div>
      <!--  content wrapper end -->
      <room-listing-main-about></room-listing-main-about>
      <room-listing-carousel></room-listing-carousel>
      <room-listing-main-reviews></room-listing-main-reviews>
      <room-listing-map></room-listing-map>
      <room-listing-nearby></room-listing-nearby>
  </section>
</section>
<!-- ============================================================================================================ -->
<!-- WILL BE THE WRAPPER FOR CONTENT WHEN FINISHED WITH PROFILE_PIC,ROOM_INFO,& BOOKING -->
<!-- ============================================================================================================ -->
<!-- <section class='room-listing-content-wrapper'> -->
<!-- </section> -->
<!-- class='col-xs-12 col-sm-2'
class='col-xs-12 col-sm-6'
class="col-xs-12 col-sm-4" -->
