<section class='container'>
  <section class='jumbotron'>
      <room-listing-main-pic></room-listing-main-pic>
      <!-- content wrapper  -->
      <div class="room-listing-content-wrapper">
        <room-listing-profile-pic class='col-xs-12 col-sm-2'></room-listing-profile-pic>
        <room-listing-main-desc class='col-xs-12 col-sm-6'></room-listing-main-desc>
        <room-listing-main-booking class="col-xs-12 col-sm-4"></room-listing-main-booking>
      </div>
      <!--  content wrapper end -->
      <room-listing-main-about></room-listing-main-about>
      <room-listing-carousel></room-listing-carousel>
      <room-listing-main-reviews></room-listing-main-reviews>
      <room-listing-map></room-listing-map>
  </section>
</section>
<!-- ============================================================================================================ -->
<!-- WILL BE THE WRAPPER FOR CONTENT WHEN FINISHED WITH PROFILE_PIC,ROOM_INFO,& BOOKING -->
<!-- ============================================================================================================ -->
<!-- <section class='room-listing-content-wrapper'> -->
<!-- </section> -->
