<!-- ============================================================================================================================================================================ -->
<!-- THE CONTROLS FOR THIS MODAL IS LOCATED INSIDE OF THE CONTROLLER OF NAVBAR DIRECTIVE-->
<!-- ============================================================================================================================================================================ -->
signup with <a href="#">facebook</a> or <a href="#">google</a>
<div class="signup-modal panel">
  Email:<input type="text" ng-model="register.email"><br>
  First Name:<input type="text" ng-model="register.firstname"><br>
  Last Name:<input type="text" ng-model="register.lastname"><br>
  Password<input type="text" ng-model="register.password"><br>
  Confirm Password<input type="text" ng-model="register.confirm_pw">
  <button type="button" class='btn signup-btn' name="button" ng-click='registerUser(register)'>signup</button>
  <span>already have a nomad account?</span> <button type="btn signup-login-btn" ng-click='clickToLogin()'>login</button>
</div>
