@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin right {
  float:right;
}

@mixin left {
  float:left;
}
@mixin image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  height: 200px;
  width:150px;
  border:2px solid black;
}

$pink : #FF7E82;
// ========================================================================================================================================================================
// signup modal
// ========================================================================================================================================================================
.signup-modal {
  text-align: center;
}
.signup-btn {
  background: $pink;
  color:white;
}
.signup-login-btn {
  border-color: $pink;
}
// =====================================================================================================================================
// home template
// ========================================================================================================================================================
.home-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home-text-container {
  text-align: center;
}
.home-listings-container {
  @include image-container;
}
