@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin right {
  float:right;
}

@mixin left {
  float:left;
}
.right {
  float:right;
}

.box {
  height: 200px;
  width:150px;
  border:2px solid black;
}

$pink : #FF7E82;
// ========================================================================================================================================================================
// signup modal
// ========================================================================================================================================================================
.signup-modal {
  text-align: center;
}
.signup-btn {
  background: $pink;
  color:white;
}
.signup-login-btn {
  border-color: $pink;
}
