<button type="button" name="button">Log In with Facebook</button>
<button type="button" name="button">Log In with Google</button>
<br>
----------------------------or-------------------------------
<br>
<input type="text" placeholder="email" ng-model='user.email'>
<input type="text" placeholder="password" ng-model='user.password'>
<input type="checkbox" name="remember me "> <h5>Forgot password?</h5>
<button type="btn" name="button" ng-click='loginUser(user)'>Log In</button>
<span>Dont have an account?</span> <button type="button">Sign Up</button>
