<!-- ============================================================================================================================================================================ -->
<!-- THIS IS A TEMPLATE FOR THE NAVBAR DIRECTIVE -->
<!-- ============================================================================================================================================================================ -->
<section class="">
  <h4>Logo</h4>
  <input type="text" name="" value="">
  <button class='' type="button" ng-click='clickToRegister()' name="button">signup</button>
  <button class='' type="button" name="button" ng-click='clickToLogin()'>Log In</button>
  <a class='right' href="#">messages</a>
  <a class='right' href="#">become a host</a>
  <button type="button" name="button" ng-click='logout()'>Log Out</button>
  <button type="button" name="button" ui-sref='home'>home</button>
</section>
