<!-- ============================================================================================================================================================================ -->
<!-- THIS IS A TEMPLATE FOR THE NAVBAR DIRECTIVE -->
<!-- ============================================================================================================================================================================ -->
<div class="nav-bar-container-wrapper">
  <section class="nav-bar-container">
    <div class="nav-bar-float-left">
      <h2 id='logo'>Air Nomad</h2>
      <nav-search-input></nav-search-input>
    </div>
    <div class="nav-bar-float-right">
        <a ng-show='userNotLoggedIn' ng-style='{"cursor":"pointer"}' ng-click='clickToRegister()'>signup</a>
        <!-- <button ng-show='userNotLoggedIn' type="button" ng-click='clickToRegister()' name="button">signup</button> -->
        <a ng-show='userNotLoggedIn' ng-style='{"cursor":"pointer"}' ng-click='clickToLogin()'>Log In</a>
        <!-- <button ng-show='userNotLoggedIn' type="button" name="button" ng-click='clickToLogin()'>Log In</button> -->
        <div ng-show='!userNotLoggedIn'>
          <navbar-dropdown></navbar-dropdown>
        </div>
        <a ng-show='!userNotLoggedIn' href="#">messages</a>
        <a href="#">become a host</a>
    </div>



  </section>
</div>
<div ng-style'{"text-align":"center"}'>
  <button type="button" name="button" ng-click='logout()'>Log Out</button>
  <button type="button" name="button" ui-sref='home'>home</button>
</div>
